@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mortgage Calculator</h1>
    <p class="lead">
        The Mortgage Calculator helps you:
        <ul>
            <li>Choose the right loan for you</li>
            <li>The Interests and Repayment on your loan</li>
        </ul>
    </p>
</div>


<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Calculator</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Borrowed Amount</label>
                    <div class="col-md-4">
                        <input id="textinput" name="textinput" type="text" placeholder="0.00" class="form-control input-md" required="">
                        <span class="help-block">Enter the amount to borrow</span>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
