<toaster-container></toaster-container>

<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div ng-controller="resetpasswordcontroller">
        <div>

            <h1 class="logo-name">In+</h1>

        </div>
        <h3>Change Password</h3>
        <form class="m-t" name="reset_form" role="form" novalidate ng-submit="reset()">
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email" required="" data-ng-model="resetPassword.Email">
                <div class="m-t-xs text-left" ng-show="(reset_form.email.$invalid && reset_form.submitted) || reset_form.email.$invalid && reset_form.email.$touched">
                    <small class="text-danger" ng-show="reset_form.email.$error.required">Please input a email</small>
                    <small class="text-danger" ng-show="reset_form.email.$error && !reset_form.email.$error.required">Please input a valid email address</small>
                </div>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required="" data-ng-model="resetPassword.Password" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" ng-minlength="6">
                <div class="m-t-xs text-left" ng-show="(reset_form.password.$invalid && reset_form.submitted) || reset_form.password.$invalid && signup_form.password.$touched">
                    <small class="text-danger" ng-show="reset_form.password.$error.required">Please input a password</small>
                    <small class="text-danger" ng-show="!reset_form.password.$error.required && reset_form.password.$error.minlength">Please input a password minimum 6 character</small>
                    <small class="text-danger" ng-show="!reset_form.password.$error.required && !reset_form.password.$error.minlength && reset_form.password.$error.pattern && reset_form.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</small>
                </div>
            </div>
            <div class="form-group">
                <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm Password" required="" data-ng-model="resetPassword.ConfirmPassword" compare-to="resetPassword.Password">
                <div class="m-t-xs text-left" ng-show="(reset_form.confirmpassword.$invalid && reset_form.submitted) ||reset_form.confirmpassword.$dirty">
                    <small class="text-danger" ng-show="reset_form.confirmpassword.$error.required">Please input a confirm password</small>
                    <small class="text-danger" ng-show="reset_form.confirmpassword.$error.compareTo && !reset_form.confirmpassword.$error.required"> Password don't match.</small>
                </div>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Change Password</button>
        </form>
        <p class="m-t"> <small>Cobros Technologies &copy; 2018</small> </p>
    </div>
</div>